body, html {
    margin: 0;
    padding: 0;
    background-color: cadetblue;
    color: white;
}

a{
    color:#cccccc;
    text-decoration: none;
}
h1 {
    text-align: center;
}

#gameCanvas {
    /* display: block; Remove any extra space below the canvas */
    position: relative;
    width: 960px; /* Maximum width of the canvas */
    height: 640px; /* Maximum height of the canvas */
    margin: auto; /* Center the canvas if it's smaller than the screen */
    text-align: center;
    background-color: black;
    color: white;
}

#selectScene img{
    background-color: whitesmoke;
    width: 150px;
    height: 100px;
    border: 5px solid black;
    margin: 30px;   
}




