body, html {
    margin: 0;
    padding: 0;
    background-color: cadetblue;
    color: white;
}

h1 {
    text-align: center;
}

#gameCanvas {
    display: block;
    position: relative;
    width: 960px; /* Maximum width of the canvas */
    height: 640px; /* Maximum height of the canvas */
    margin: auto; /* Center the canvas if it's smaller than the screen */
    text-align: center;
    background-color: black;
    color: white;
}






