body, html {
    margin: 0;
    padding: 0;
    background-color: cadetblue;
    color: white;
}

#gameCanvas {
    display: block;
    position: relative;
    width: 960px; /* Maximum width of the canvas */
    height: 640px; /* Maximum height of the canvas */
    margin: auto; /* Center the canvas if it's smaller than the screen */
    text-align: center;
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}
#gameScene-container {
    position: relative;
    width: 850px; 
    height: 500px; 
    background-color: black;
    border: 2px solid red;
    margin: 20px auto;
    justify-content: center;
}

.selectScene-container img{
    background-color: whitesmoke;
    border: 5px solid black;
    margin: 30px;   
}

#gameScene-container img {
    position: absolute;
    /* transition: all 0.3s; */
}




